@model LoginModel

<h1>Login</h1>

<a asp-controller="Home" asp-action="Index">Home</a>


<form asp-controller="Admin" asp-action="Login" method="post">

    <div asp-validation-summary="All">

    </div>

    <input hidden asp-for="ReturnUrl" />
    <div>
        <label>UserName</label>
        <input asp-for="EMail" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>
    <p>
        <button type="submit">Log In</button>
    </p>
</form>