<h1>AccessDenied</h1>

<a asp-controller="Admin" asp-action="Index">Admin</a>
<a asp-controller="Admin" asp-action="Admin">Administrator</a>
<a asp-controller="Admin" asp-action="User">User</a>

<p>
    IsAuthenticate : @ViewBag.IsAuthenticated
</p>

<p>
    Name : @ViewBag.Name
</p>