@model PostModel

<div class="chapter-title">
    <h1>Добавьте пост</h1>
</div>




<div class="user-profile">
    <div class="profile-content">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                @Html.LabelFor(x=>x.Type, "Загрузите фото")<br />
                <input type="file" name="file" class="file-upload" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Потерял")<br />
                <input type="radio" asp-for="Type" value="lost" class="radio" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Нашел  ")<br />
                <input type="radio" asp-for="Type" value="found" class="radio" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Описание  ")<br />
                <textarea asp-for="Description"></textarea>
            </div>
            <input type="hidden" asp-for="UserId" value=@ViewData["UserId"] />
            <div>
                <input class="input-logon-logof" type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>


